@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f8f8f8;
}
.container{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns:repeat(auto-fill, 300px);
    gap: 10px;
    justify-items: center;
}
 
 